:root {
  --bg-color: #111111;
  --accent-color: rgba(255, 255, 255, 0.15);
  --container-color: #22222290;
  --button-color: #111111;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --font-color: #ffffff;
  --box-shadow-color: #a2a2a220;
}

.light {
  --bg-color: #ffffff;
  --accent-color: #5c7e8f;
  --container-color: #d4dde290;
  --button-color: #ffffff;
  --glass-effect-color: rgba(255, 255, 255, 0);
  --font-color: #111111;
  --box-shadow-color: #a2a2a220;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  font-family: Arial;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 1rem;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width:fit-content;
  padding: 1rem 2rem ;
  background-color: pink;
  background-color: var(--glass-effect-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--accent-color);
  border-radius: 0 0 0.5rem 0.5rem;
}

ul {
  max-width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}



ul .home a {
  color: var(--accent-color);
}

#homeButtonicon {
  display: none;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 0.1rem solid var(--accent-color);
  overflow: hidden;
  max-width: 100%;
}

.searchBar .search {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  flex: 2;
  color: var(--font-color);
  background-color: var(--glass-effect-color);


}

.searchBar .searchButton {
  width: 50%;
  height: 2.5rem;
  flex: 1;
  background-color: var(--accent-color);
  font-size: 1rem;
  color: var(--font-color);
}

.searchBar .searchButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* .searchBar .search:focus-within {
  max-width: 80%;
} */

main {
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 5rem;

}

.container {
  max-width: 100%;
  display: flex;
  gap: 1rem;
  padding: 2rem;

}

.status {
  max-width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 0 0.5rem var(--box-shadow-color),
    0 0 1rem var(--box-shadow-color);
  border-radius: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.25rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info p {
  font-size: 1.5rem;
}


.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.state .temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.state .temp .temperature {
  font-size: 8rem;

}

.state .temp .otherState {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.state .temp .otherState li {
  display: flex;
  gap: 0.5rem;
}

.state .skySituation {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.state .skySituation img {
  width: 10rem;
}

.forecast {
  max-width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 0 0.5rem var(--box-shadow-color),
    0 0 1rem var(--box-shadow-color);
  border-radius: 1rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.forecast .greeting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast .greeting .greetingText {
  font-size: 1.5rem;

}

.forecast .greeting .time {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.forecast .forcastPreviewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0.5rem;

}

.forecast .forcastPreviewContainer ul {
  display: flex;
  gap: 2rem;
}

.forecast .forcastPreviewContainer ul .liDay {
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.6;
  transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 0.2s ease-in;

}

.forecast .forcastPreviewContainer ul .tabbed {
  color: var(--accent-color);
}

.forecast .forcastPreviewContainer ul .liDay:hover {
  background-color: var(--button-color);
  cursor: pointer;
  opacity: 1;
  color: var(--accent-color);
}


.forecast .forcastPreview .dayParent {
  max-width: 100%;
  background-color: var(--glass-effect-color);
  border-top: 0.1rem solid var(--accent-color);
  border-left: 0.1rem solid var(--accent-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;

}

.forecast .forcastPreview .dayParent {
  display: none;
}

.forecast .forcastPreview .active {
  display: flex;
}

.forecast .forcastPreview .dayParent .daytext {
  font-size: 1.5rem;
}

.forecast .forcastPreview .dayParent .day {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
}

.forecast .forcastPreview .dayParent .day .dayGrandChild {
  /* width:100%; */
  background-color: var(--glass-effect-color);
  color: var(--font-color);
  border: 0.1rem solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem var(--box-shadow-color),
    0 0 1rem var(--box-shadow-color);
}

.forecast .forcastPreview .dayParent .day .dayGrandChild .hourlyTime {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem 0;
}

.forecast .forcastPreview .dayParent1 {
  display: flex;
}












@media screen and (width < 450px) {
  ul {
    gap: 1rem;
  }

  .state .temp .temperature {
    font-size: 3rem;

  }
}

@media screen and (max-width : 1024px) {


  .container {
    flex-direction: column;
  }

}

@media screen and (max-width : 600px) {

  ul .home {
    margin-right: auto;
  }

  nav{
    padding:1rem;
  }
}

@media screen and (max-width : 780px) {

  ul {
    gap: 1.25rem;
  }

  .info p {
    font-size: 1.5rem;
  }

  .state .temp .temperature {
    font-size: 5rem;

  }

  .state .temp .otherState {
    font-size: 1rem;
  }

  .state .skySituation {
    font-size: 1.25rem;
  }

  .forecast .forcastPreviewContainer {
    gap: 2rem;

  }

  .forecast .forcastPreviewContainer ul {
    display: flex;
    gap: 1rem;
  }

  .forecast .forcastPreview .dayParent .daytext {
    font-size: 1.25rem;
  }

  #homeButton {
    display: none;
  }

  #homeButtonicon {
    display: block;
    width: 100%;
  }


}